@import "compass/css3";
@import "compass/css3/appearance";

$dialogPadding: 1.5rem;
$button-padding: 1rem;
$border-color: #b5b5b5;
$dialog-border-radius: 0.5rem;

@mixin sprite($left, $right) {
  background: url(/images/icon-sprite.png) no-repeat ($left * -1) 0px;
  background-size: 112px 14px;
  width: ($right - $left);
  height: 14px;
}

@mixin dialog-header() {
  @include flex-basis(5.2rem);
  @include flex-grow(0);
  @include flex-shrink(0);
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  // is itself a flex container
  @include display_flex();
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  flex-wrap: nowrap;
  align-content: center;
  align-self: stretch;
  border-bottom: 1px solid $border-color;
}

@mixin tree-node-content-button($size) {
  @include flex-basis($size);
  @include flex-grow(0);
  @include flex-shrink(0);
  align-items: center;
  margin-left: $button-padding;
  @include appearance(none);
  border: none;
}

@mixin wide_cell {
  display: block;
  @include flex-basis(auto);
  @include flex-grow(1);
  @include flex-shrink(0);
}

html {
  font-size: 10px;
}

// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-size: 1.8rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.dom-explorer-button {
  @include appearance(none);
  border: 1px solid rgba(0, 0, 0, 0.6);
  @include border-radius(1.5rem);
  background-color: #e1a300;
  font-size: 2.5rem;
  line-height: 5rem;
  padding: 0 3rem ;
}

/* ********* DOM EXPLORER ********** */
#fade {
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.31);
  -moz-opacity: 0.7;
  opacity: .70;
  width: 100%;
  height: 100%;
  z-index: 90;
}

#overlay.dialog {
  position: fixed;
  left: 25%;
  top: 25%;
  padding: 0;
  border: 2px solid #b5b5b5;
  @include border-radius($dialog-border-radius);
  background-color: #ffffff;
  width: 50%;
  height: 50%;
  z-index: 100;
  font-family: Trebauchet, Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  @include box-shadow(rgba(0, 0, 0, 0.31)  2rem 1rem 6rem);

  @include display_flex();
  @include flex-direction(column);
  flex-wrap: nowrap;
  // justify-content: center;
  // align-content: flex-start;
  // align-items: stretch;

  header {
    @include dialog-header;
    background-color: rgb(242, 242, 242);
    @include border-radius($dialog-border-radius $dialog-border-radius 0 0);

    .dialog__title {
      @include wide-cell;

      padding-left: $dialogPadding;
    }
    .close {
      display: block;
      @include flex-basis(6rem);
      @include flex-grow(0);
      @include flex-shrink(0);
      padding-right: $dialogPadding;
      text-align: right;
      a {
        text-decoration: none;
        font-size: 2rem;
        color: rgb(180, 180, 180);
      }
    }

  }
  nav {
    @include dialog-header;

    .dialog__label {
      display: block;
      @include flex-basis(auto);
      @include flex-grow(1);
      @include flex-shrink(0);
      padding-left: $dialogPadding;
      font-size: 1.4rem;
      color: #b4b4b4;
    }

  }

  section {
    padding: 0;
    margin: 0;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: $dialogPadding;
    padding-top: $dialogPadding/2;
    padding-bottom: $dialogPadding/2;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    background-color: #fefefe;
    @include box-shadow(rgba(0, 0, 0, 0.125) 3px 3px 5px inset);
  }

  footer {
    padding: 0;
    margin: 0;
    padding-left: $dialogPadding;
    @include flex-basis(5.2rem);
    @include flex-grow(0);
    @include flex-shrink(0);
    align-self: stretch;
    width: 100%;
    @include dialog-header;
    border-bottom: none;
    border-top: 1px solid $border-color;

    .dialog-footer__link {
      @include wide-cell;
      padding-left: $dialogPadding;
      font-size: 1.4rem;
      text-decoration: none;
      color: #427fed;
      min-height: 3rem;
      line-height: 3rem;
    }

    .dialog-footer__button {
      @include appearance(none);
      border: none;
      background-color: #3b73f1;
      @include border-radius(4px);
      color: white;
      padding: 0 1.5rem;
      margin-right: $dialogPadding;
      font-size: 1.4rem;
      min-height: 3rem;
      line-height: 3rem;
    }
  }
}

tree-node {
  display: block;
  min-height: 2.5rem;
  line-height: 2.5rem;
  &.tree-node--over {
    background-color: blue;
    color: white;
  }

  color: rgba(0, 0, 0, 0.75);

  @include display_flex();
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(center);

  .tree-node__folder-button {
    @include tree-node-content-button(14px);
    @include sprite(0px, 14px);

    &.tree-node__folder-button--head {
      @include sprite(14px, 28px);

    }

    &.tree-node__folder-button--text {
      @include sprite(28px, 42px);

    }
  }

  .tree-node__zoom-button {
    @include tree-node-content-button(11px);
    @include appearance(none);
    border: none;
    @include sprite(57px, 68px);
    margin-left: $button-padding;
    &.tree-node__zoom-button--closed {
      @include sprite(71px, 82px);
    }
    &.tree-node__zoom-button--hidden {
      visibility: hidden;
    }
  }

  .tree-node__spacer {
    @include flex-basis(0.1rem);
    @include flex-grow(0);
    @include flex-shrink(0);
  }

  .tree-node__label {
    @include flex-basis(auto);
    @include flex-grow(0);
    margin-left: $button-padding;
  }

  .tree-node__text {
    @include flex-basis(auto);
    @include flex-grow(1);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  children {
    display: block;
  }
}

*:focus {
  outline: none;
}

tree-node-children {
}

.modal-backdrop {
  display: none !important;
}
